* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: #EBEBEB;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}

.nav {
    background: #322e41;
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list-link {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 22px;
    display: block;
    transition: .5s;
}

.nav__list-link:hover {
    background: white;
    color: #d47300;
}

.poster {
    min-height: 500px;
    background: url('../images/poster.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poster__title {
    font-weight: 700;
    font-size: 50px;
    color: #fff;
}

.poster__subtitle {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
    text-align: center;
}

.poster__subtitle span {
    font-weight: 700;

}

.products__content-card {
    padding: 15px;
    background: white;
    max-width: max-content;
    border-radius: 6px;
}

.products__content-card-title {
    font-weight: 700;
    font-size: 22px;
    color: #2c2a2a;
    margin: 20px 0 10px;

}

.products__content-card-descr {
    max-width: 510px;
    font-weight: 400;
    font-size: 16px;
    color: #9b9b9b;
}

.products__content-collection-item {
    padding: 15px;
    border-radius: 6px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__content-collection-item-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #D47300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__content {
    display: flex;
    gap: 30px;
}

.products__content-collection-item-title {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #2c2a2a;
    margin: 20px 0 10px;
}

.products__content-collection-item-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #9b9b9b;
    max-width: 224px;
}

.products__content-collection {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.products {
    margin: -30px 0 15px;

}

.footer {
    padding: 40px 0;
    background: #322E41;
}

.footer__form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__form input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #9b9b9b;
    border-radius: 6px;
}

.footer__form textarea {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #9b9b9b;
    border-radius: 6px;
    height: 86px;
    resize: vertical;
}

.footer__form button {
    padding: 10px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #fff;
    background: #544294;
    border: none;
    outline: none;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__items {
    display: flex;
    align-items: flex-start;
    
}

.footer_list {
    display: flex;
    flex-direction: column;
    
}

.footer__list-link {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    transition: .5s;
}

.footer__list-link:hover {
    color: #d47300;

}

.social__items {
    padding: 10px;
    align-items: flex-start;

}

.social__list {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.social__list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;

}

.social__list-link:hover {
    transition: .5s;
    background: white;
}

.facebook:hover path {
    fill: blue;

}

.twiter:hover path {
    fill: cornflowerblue;

}

.google:hover path {
    fill: firebrick;

}

.pinterest:hover path {
    fill: crimson;

}

button:hover {
    opacity: 0.9;
}